$roboto:'Thin', sans-serif;
$teal:#009688;
$white:#FEFEFE;


.jumbotron{
	background-color:$teal;
	height:600px;

	.divProfil{
		text-align: center;
		padding-top:100px;

		.imageProfil{
			height: 250px;
			width: 250px;
			border-radius: 50%;
			margin:auto;
			display: block;
		}
	}

	.divTitle{
		margin-top:50px;
		
		h5{
			font-weight: 200;
			color:$white;
			font-size:48px;
		}

		p{
			color:$white;
			font-weight:200;
			margin:0;
			font-size: 28px;
			font-style: italic;
		}
	}
}